/* Main css */

/* Indice */

/* ETIQUETAS */
/*
  . anchor
  - body
**/

/* CLASES */
/*
  - content
  - footer
  - layout
  - navbar
  - projects
**/

/***** ETIQUETAS *****/

/* - anchor */
a, a:link, a:visited, a:hover, a:active {
  color : black;
  text-decoration: none;
}
/* fin anchor */

/* - body */
body {
  margin: 0px;
  font-family: sans-serif;
}
/* fin body */

/***** CLASES *****/
/* - content */
.content {

}
/* fin content */

/* - footer */
.footer {
  display: flex;
  background-color: lightblue;
}
/* fin footer */

/* - layout */
.layout {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 0px 20px;

}


/* @media (max-width: 600px) {
  .layout {
    flex-direction: column;
  }
} */
/* fin container */

/* - navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  background-color: lightgreen;
  padding: 10px;
}
/* fin navbar */

/* - projects */
.projects-container {
}

.project-topic {
  user-select: none;
}

.project-topic:hover .project-topic-header {
  background-color: orange;
}

.project-topic:hover .project-topic-content {
  max-height: 600px;
  animation-duration: 2s;
  animation-name: dropDown;
}

@keyframes dropDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 600px;
  }
}

.project-topic-header {
  background-color: purple;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  transition: 1s;
}

.project-topic-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 0;
}

.project {
  /* position: relative; */
  text-align: center;
  background-color: blue;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

@media (max-width : 460px) {
  .project {
    margin : 10px auto;
  }
}
.project:hover {
  transform: translate(10px,-10px);
  transition-duration: 0.5s;
}

/* fin projects */
