/* Main css */

/* Indice */

/* ETIQUETAS */
/*
  - body
**/

/* CLASES */
/*
  - content
  - footer
  - layout
  - navbar
  - projects
**/

/***** ETIQUETAS *****/
/* - body */
body {
  margin: 0px;
  font-family: sans-serif;
}
/* fin body */

/***** CLASES *****/
/* - content */
.content {

}
/* fin content */

/* - footer */
.footer {
  display: flex;
  background-color: lightblue;
}
/* fin footer */

/* - layout */
.layout {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 0px 20px;

}


@media (max-width: 600px) {
  .layout {
    flex-direction: column;
  }
}
/* fin container */

/* - navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  background-color: lightgreen;
  padding: 10px;
}
/* fin navbar */

/* - projects */
.projects-container {
}

.project-topic {

}

.project-topic-header {
  cursor: pointer;
  background-color: purple;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  transition: 1s;
}

.project-topic-header:hover {

}

.project-topic-content {
  display: none;
  /* display: flex; */
  flex-direction: row;
}
/* fin projects */
